<div class="about-page">
    <div class="row">
        <div class="col">
            <h1 class="about-header">
                About Metrify
                <img class="about-gif" src="https://media.giphy.com/media/l0IykENmwKDa1qCaY/giphy.gif">
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="about-details">
                Spotify is awesome.
                You can listen to music on the go, offline, in high quality audio.
                You get personalized playlists, access to an unparalleled catalog of songs, and a sleek, seamless user
                experience.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="about-details">
                But, ever wondered what your top tracks are?
                How about your top artists?
                Spotify may gave you those stats in their annual <strong>Wrapped </strong> feature, but what if you
                wanted to know right this second?
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="about-details">
                Enter Metrify.
                Connect your Spotify account to Metrify to get access to your top tracks and artists.
                Wanna put those tracks into their own Spotify playlists so you can bump them later? Got you covered.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="about-header">
                How Metrics Are Calculated
                <img class="about-gif" src="https://media.giphy.com/media/l41YvpiA9uMWw5AMU/giphy.gif">
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="about-details">
                Your top Spotify tracks and artists are gathered directly through Spotify.
                They are based on a measure known as <strong>affinity</strong>.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="about-details">
                According to Spotify, <strong>affinity</strong> is a measure of the expected preference a user has for a
                particular track or artist.
                It is based on user behavior, including play history, but does not include actions made while in
                incognito mode.
                Note that light or infrequent users of Spotify may not have sufficient play history to generate a full
                affinity data set.
            </h5>
        </div>
    </div>
</div>