<div id="error-div">
    <div class="row">
        <div class="col">
            <h1 class="error-heading "> Whoops, something went wrong! </h1>
        </div>
    </div>

    {{#if errMsg}}
        <h4 class="error-details">Error Details: <p>{{errMsg}}</p> </h4>
    {{/if}}

    {{#if errStack}}
        <h4 class="error-details">Error Trace: <p>{{errStack}}</p> </h4>
    {{/if}}

    <h4 class="error-details"> Please try again by restarting here <a href="https://metrify-me.herokuapp.com">here</a>. </h4>
    <h4 class="error-details"> If the error persists, please contact <a href="mailto:saad.masood@nyu.edu">saad.masood@nyu.edu</a> with error details.</h4>

    <img class="error-details img-fluid rounded gif" src="https://media.giphy.com/media/1USKMDPjuH4ovL7J5h/giphy.gif">
</div>
