<h1>Choose Your Metrics</h1>

<form method="GET" action="/get-metric" class="form">

    <div class="form-group">
        <label for="target">Tracks or Artists?</label>
        <select id="target" name="target" class="form-control">
            <option value="tracks">Tracks</option>
            <option value="artists">Artists</option>
        </select>
    </div>

    <div class="form-group">
        <label for="timeRange">Time Range</label>
        <select id="time-range" name="timeRange" class="form-control">
            <option value="long_term">All Time</option>
            <option value="medium_term">Last 6 Months</option>
            <option value="short_term">Last Month</option>
        </select>
    </div>

    <input type="submit" value="Get my metrics!">
</form>
