<h1>Welcome to Metrify</h1>

<h2> Connect to your Spotify account below to get your metrics </h2>

<form method="GET" action="/spotify-auth" class="form">
    <input type="submit" value="Connect To Spotify">
</form>


