<div class="welcome-page">
    <div id="welcome-div">
        <p class="page-heading welcome-heading">
            Metrify
        </p>
        <p class="welcome-details">
            Discover your top Spotify tracks and artists, filter them by time, and create playlists directly into your
            Spotify account.
        </p>
        <p class="welcome-details">
            Connect to your Spotify account below to view your metrics.
        </p>
        <div class="row">
            <div class="col">
                <!-- prod/dev //*  https://metrify-me.herokuapp.com -->
                <a href="http://localhost:3000/spotify-auth" class="btn btn-primary animated bounceIn" id="login-btn">
                    Connect To Spotify
                    <img id="spotify-logo" src="/img/Spotify_Icon_RGB_White.png" alt="Spotify Logo">
                </a>
            </div>
        </div>
    </div>
    <!-- Music notes animation adapted from: https://codepen.io/MaryG/pen/wJMMdw -->
    <div class="music-notes-container">
        <div class="music-notes">
            <div class="note-1">
                &#9835; &#9833;
            </div>
            <div class="note-2">
                &#9833;
            </div>
            <div class="note-3">
                &#9839; &#9834;
            </div>
            <div class="note-4">
                &#9834;
            </div>
        </div>
    </div>
</div>