<h4 class="page-heading metric-heading"> {{name}} Top Spotify Tracks</h4>
<div class="row" id="top-tracks-row">
  <div class="col">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="Time Query" id="time-query-group">
        <button type="button" class="btn btn-outline-primary active-time active action-btn" id="long_term"
          data-toggle="button">
          All Time
        </button>
        <button type="button" class="btn btn-outline-primary action-btn" id="medium_term" data-toggle="button">
          Last 6 Months
        </button>
        <button type="button" class="btn btn-outline-primary action-btn" id="short_term" data-toggle="button">
          Last Month
        </button>
      </div>
      <div class="btn-group mr-2 mt-2 mt-md-0 mt-lg-0" role="group" aria-label="First group">
        <button id="create-playlist" class="btn btn-primary action-btn create-playlist-btn">
          Create Spotify Playlist
          <img id="spotify-logo" src="/img/Spotify_Icon_RGB_White.png" alt="Spotify Logo">
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" id="table-container">
    <table class="table table-striped" id="tracks-table">
      <thead>
        <tr>
          <th scope="col" class="rank-col-track">Rank</th>
          <th scope="col">Title</th>
          <th scope="col">Artists</th>
        </tr>
      </thead>
      <tbody>
        {{#each metricData}}
        <tr id={{spotifyID}} class="data-row">
          <td class="track-rank" scope="row">
          <td class="track-title">
            {{title}}
          </td>
          <td class="track-artist">
            {{artists}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade" id="create-playlist-modal" tabindex="-1" role="dialog" aria-labelledby="create-playlist-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title create-playlist-title" id="exampleModalLongTitle">
          Spotify Playlist Creation
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body create-playlist-result" id="create-playlist-result" />
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-playlist-modal"
  id="show-modal-button"></button>
<script type='text/javascript' src="scripts/top-tracks.js"></script>