<h3 class="page-heading metric-heading animated bounceIn"> {{name}} Top Spotify Artists (All Time)</h3>  

<!-- options: query tracks by time, create playlist -->
<div class="row" id="top-artists-row">
  <div class="col">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

       <!-- time query -->
      <div class="btn-group mr-2" role="group" aria-label="Time Query" id="time-query-group">
        <button type="button" class="btn btn-outline-primary active active-time" id="long_term" data-toggle="button"> All Time </button>
        <button type="button" class="btn btn-outline-primary" id="medium_term" data-toggle="button"> Last 6 Months </button>
        <button type="button" class="btn btn-outline-primary" id="short_term" data-toggle="button">Last Month</button>
      </div>
      
      </div>                
  </div>
</div>

<!-- list of artists -->
<div class="row">
  <div class="col" id="table-container">
    <table class="table table-striped animated fadeInUpBig fast">
      
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
        </tr>
      </thead>

      <tbody>
        {{#each metricData}}
          <tr>
            <th class="artist-rank" scope="row"></th>
            <td id={{spotifyID}}>{{name}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script type='text/javascript' src="scripts/top-artists.js"></script>