<section>
  <h1 class="track-name">{{track.name}}</h1>
  <h2 class="track-artists">
    {{#each artists}}
    <a href="artist/{{id}}">{{name}}</a>
    {{/each}}
  </h2>
  <div class="track-embed-chart">
    <div class="spotify-track-embed">
      <iframe src="https://open.spotify.com/embed/track/{{track.id}}" width="500" height="480" frameborder="0"
        allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class='track-features-chart'>
      <canvas id="track-chart" width="400" height="400"></canvas>
    </div>
  </div>
</section>
<script type='text/javascript' src="/scripts/track-features.js"></script>